@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?bonsrk');
  src:  url('fonts/icomoon.eot?bonsrk#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?bonsrk') format('truetype'),
    url('fonts/icomoon.woff?bonsrk') format('woff'),
    url('fonts/icomoon.svg?bonsrk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-TV:before {
  content: "\e91b";
}
.icon-bofangqi:before {
  content: "\e900";
}
.icon-move:before {
  content: "\e901";
}
.icon-ertong:before {
  content: "\e902";
}
.icon-set:before {
  content: "\e903";
}
.icon-set2:before {
  content: "\e904";
}
.icon-QX:before {
  content: "\e905";
}
.icon-useradd:before {
  content: "\e906";
}
.icon-menu22:before {
  content: "\e907";
}
.icon-epg:before {
  content: "\e908";
}
.icon-IBEENOEPG:before {
  content: "\e909";
}
.icon-uniE6012:before {
  content: "\e90a";
}
.icon-uniE601:before {
  content: "\e90b";
}
.icon-k-xing:before {
  content: "\e90c";
}
.icon-xing:before {
  content: "\e90d";
}
.icon-star3:before {
  content: "\e928";
}
.icon-shoucang:before {
  content: "\e90e";
}
.icon-shoucang22:before {
  content: "\e90f";
}
.icon-sousuo:before {
  content: "\e910";
}
.icon-lishi:before {
  content: "\e911";
}
.icon-lashen:before {
  content: "\e912";
}
.icon-IBEEbili:before {
  content: "\e913";
}
.icon-quanping:before {
  content: "\e914";
}
.icon-suoxiao:before {
  content: "\e915";
}
.icon-settings_overscan:before {
  content: "\e916";
}
.icon-aspect_ratio:before {
  content: "\e917";
}
.icon-settings_brightness:before {
  content: "\e918";
}
.icon-now_wallpaper:before {
  content: "\e919";
}
.icon-live:before {
  content: "\e91a";
}
.icon-IBEEzhibo2:before {
  content: "\e91c";
}
.icon-uniE603:before {
  content: "\e91d";
}
.icon-lishi2:before {
  content: "\e91e";
}
.icon-IBEEyuyue:before {
  content: "\e91f";
}
.icon-eye:before {
  content: "\e920";
}
.icon-playing:before {
  content: "\e921";
}
.icon-baocuo:before {
  content: "\e922";
}
.icon-EPG3:before {
  content: "\e923";
}
.icon-liangdu:before {
  content: "\e924";
}
.icon-jingyin:before {
  content: "\e925";
}
.icon-yinliang:before {
  content: "\e926";
}
.icon-wangluoZ:before {
  content: "\e927";
}
.icon-shuju:before {
  content: "\e929";
}
.icon-wifi3:before {
  content: "\e92a";
}
.icon-yonghunewtv:before {
  content: "\e92b";
}
.icon-jihuoma:before {
  content: "\e92c";
}
.icon-earth:before {
  content: "\e92d";
}
.icon-kefu2:before {
  content: "\e92e";
}
.icon-shang2:before {
  content: "\e92f";
}
.icon-xia2:before {
  content: "\e930";
}
.icon-zuo2:before {
  content: "\e931";
}
.icon-you2:before {
  content: "\e932";
}
.icon-shang:before {
  content: "\e933";
}
.icon-xia:before {
  content: "\e934";
}
.icon-zuo:before {
  content: "\e935";
}
.icon-you:before {
  content: "\e936";
}
.icon-tanchu:before {
  content: "\e937";
}
.icon-uniEA1A:before {
  content: "\e938";
}
.icon-uniEA18:before {
  content: "\e939";
}
.icon-uniEA17:before {
  content: "\e93a";
}
.icon-uniEA16:before {
  content: "\e93b";
}
.icon-uniEA15:before {
  content: "\e93c";
}
.icon-uniEA19:before {
  content: "\e93d";
}
.icon-uniEA1B:before {
  content: "\e93e";
}
.icon-info:before {
  content: "\e941";
}
.icon-xinxi:before {
  content: "\e942";
}
.icon-share:before {
  content: "\e943";
}
.icon-openlock2:before {
  content: "\e93f";
}
.icon-Unlock2:before {
  content: "\e940";
}

